
#page-land{
    display: flex;
    flex-direction: row;

    background-color: var(--color-primary);

    width: 100vw;
    height: 100vh;

    position: relative;

    color: #ffffff;
}

.sucess-page{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    flex-direction: column;
}

.sucess-page h1{
    font-size: 50px;
    color: #ffffff;
}

.sucess-page .message{
    width: 480px;
    height: 52px;

    text-align: center;

    margin-bottom: 80px;
}

.sucess-button{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 56px;
    border: none;

    background: #04D361;

    border-radius: 8px;

    transition: all .3s ease;

    cursor: pointer;

    text-decoration: none;
    color: #ffffff;

}